:root{
  --color-primary:#34c94b;
  --color-white:#fff;
  --color-black:#121212;

}
*,
*::before{
  box-sizing: border-box;
}
*::after{
  box-sizing: border-box;
}
body{
  font-family: "poppins",sans-serif;
  background-color: var(--color-black);
  line-height: 1.5;
  height: 1907px;
  width:1440px;
  overflow-x: hidden;
  Top:-512px;
  Left:-720px;



}